<!-- Generic page that shows any type of error occurred -->

{{> partials/header}}

<main class="container">
    <div class="feedback-page">

        <!-- Error icon -->
        <i class="bi bi-exclamation-triangle-fill feedback-icon feedback-icon--error"></i>

        <!-- Error's title -->
        <h1 class="feedback-title feedback-title--error">¡Ha Ocurrido un Error!</h1>

        <!-- Dynamic error message -->
        <p class="feedback-text">{{errorMessage}}</p>

        <hr class="my-4" style="width: 50%;">

        <p>Por favor, revisa la información e inténtalo de nuevo.</p>

        <!-- Return Button | Go Back -->
        <a href="{{backUrl}}" class="btn btn-primary btn-lg mt-3">{{backUrlText}}</a>

    </div>
</main>

{{> partials/footer}}